/* body {
  color: hsl(var(--primary)) / 0.8;
} */

.container-max-w {
  max-width: 1400px;
}

.image-container {
  width: 200px;
  height: 200px;
  background-color: #555;
  clip-path: path(
    "M 180 10 Q 50 100, 180 190  Q 170 140, 170 100  Q 170 60, 180 10"
  );
}

.nav-header .active {
  color: hsl(var(--primary-theme));
  text-underline-offset: 8px;
  text-decoration-line: underline;
}

.btn-get-in-touch {
  background-color: hsl(var(--primary-theme));
}

.span-text {
  color: hsl(var(--primary-theme));
}
.grid-wrapper > div {
  height: 250px;
  background-color: hsl(var(--background) / 0.5);
}

.grid-wrapper > div:first-child {
  height: fit-content;
  background: none;
}

.grid-wrapper > div:nth-child(2) {
  height: calc(500px + 2rem);
}

.grid-wrapper > div:last-child {
  background-color: white;
}

.col-wrapper-up {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.col-wrapper-up div {
  top: 100%;
  animation-name: divScrollUp;
  animation-duration: 45s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes divScrollUp {
  to {
    top: calc((12 * 7rem) * -1);
  }
}

.col-wrapper-down {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
}

.col-wrapper-down div {
  bottom: 100%;
  animation-name: divScrollDown;
  animation-duration: 120s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes divScrollDown {
  to {
    bottom: calc((12 * 7rem) * -1);
  }
}

.tech-buttons button.active {
  border-color: hsl(var(--primary-theme));
  color: hsl(var(--primary-theme));
}

.tech-buttons button.active:hover {
  border-color: hsl(var(--primary-theme));
  color: hsl(var(--primary-theme));
}

.tech-buttons button:hover {
  border-color: rgb(145, 145, 145);
  color: rgb(145, 145, 145);
}

.mono img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@keyframes flipIn {
  from {
    opacity: 0;
    transform: perspective(1000px) rotateY(90deg);
  }
  to {
    opacity: 1;
    transform: perspective(1000px) rotateY(0deg);
  }
}

.tech-image {
  animation-name: flipIn;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  backface-visibility: hidden;
}
