/* body {
  color: hsl(var(--primary)) / 0.8;
} */

html {
  scroll-behavior: smooth;
}

.container-max-w {
  max-width: 1400px;
}

.image-container {
  width: 200px;
  height: 200px;
  background-color: #555;
  clip-path: path(
    "M 180 10 Q 50 100, 180 190  Q 170 140, 170 100  Q 170 60, 180 10"
  );
}

.nav-header .active {
  color: hsl(var(--primary-theme));
  text-underline-offset: 8px;
  text-decoration-line: underline;
}

.mobile-header .active {
  color: hsl(var(--primary-theme));
}

@keyframes miniSlideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: miniSlideIn 0.3s ease-out forwards;
}

.btn-get-in-touch {
  background-color: hsl(var(--primary-theme));
}

.span-text {
  color: hsl(var(--primary-theme));
}
.grid-wrapper > div {
  height: 250px;
  background-color: hsl(var(--background) / 0.5);
}

.grid-wrapper > div:first-child {
  height: fit-content;
  background: none;
}

.grid-wrapper > div:nth-child(2) {
  height: calc(500px + 2rem);
}

.grid-wrapper > div:last-child {
  background-color: white;
}

.col-wrapper-up {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

.col-wrapper-up div {
  top: 100%;
  animation-name: divScrollUp;
  animation-duration: 45s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes divScrollUp {
  to {
    top: calc((12 * 7rem) * -1);
  }
}

.col-wrapper-down {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 0)
  );
}

.col-wrapper-down div {
  bottom: 100%;
  animation-name: divScrollDown;
  animation-duration: 120s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes divScrollDown {
  to {
    bottom: calc((12 * 7rem) * -1);
  }
}
/* escape hydration error */
.delay-up-0 {
  animation-delay: calc(var(--delay-up-base) / 12 * (12 - 1) * -1);
}
.delay-up-1 {
  animation-delay: calc(var(--delay-up-base) / 12 * (12 - 2) * -1);
}
.delay-up-2 {
  animation-delay: calc(var(--delay-up-base) / 12 * (12 - 3) * -1);
}
.delay-up-3 {
  animation-delay: calc(var(--delay-up-base) / 12 * (12 - 4) * -1);
}
.delay-up-4 {
  animation-delay: calc(var(--delay-up-base) / 12 * (12 - 5) * -1);
}
.delay-up-5 {
  animation-delay: calc(var(--delay-up-base) / 12 * (12 - 6) * -1);
}
.delay-up-6 {
  animation-delay: calc(var(--delay-up-base) / 12 * (12 - 7) * -1);
}
.delay-up-7 {
  animation-delay: calc(var(--delay-up-base) / 12 * (12 - 8) * -1);
}
.delay-up-8 {
  animation-delay: calc(var(--delay-up-base) / 12 * (12 - 9) * -1);
}
.delay-up-9 {
  animation-delay: calc(var(--delay-up-base) / 12 * (12 - 10) * -1);
}
.delay-up-10 {
  animation-delay: calc(var(--delay-up-base) / 12 * (12 - 11) * -1);
}
.delay-up-11 {
  animation-delay: calc(var(--delay-up-base) / 12 * (12 - 12) * -1);
}

.delay-down-0 {
  animation-delay: calc(var(--delay-down-base) / 12 * (12 - 1) * -1);
}
.delay-down-1 {
  animation-delay: calc(var(--delay-down-base) / 12 * (12 - 2) * -1);
}
.delay-down-2 {
  animation-delay: calc(var(--delay-down-base) / 12 * (12 - 3) * -1);
}
.delay-down-3 {
  animation-delay: calc(var(--delay-down-base) / 12 * (12 - 4) * -1);
}
.delay-down-4 {
  animation-delay: calc(var(--delay-down-base) / 12 * (12 - 5) * -1);
}
.delay-down-5 {
  animation-delay: calc(var(--delay-down-base) / 12 * (12 - 6) * -1);
}
.delay-down-6 {
  animation-delay: calc(var(--delay-down-base) / 12 * (12 - 7) * -1);
}
.delay-down-7 {
  animation-delay: calc(var(--delay-down-base) / 12 * (12 - 8) * -1);
}
.delay-down-8 {
  animation-delay: calc(var(--delay-down-base) / 12 * (12 - 9) * -1);
}
.delay-down-9 {
  animation-delay: calc(var(--delay-down-base) / 12 * (12 - 10) * -1);
}
.delay-down-10 {
  animation-delay: calc(var(--delay-down-base) / 12 * (12 - 11) * -1);
}
.delay-down-11 {
  animation-delay: calc(var(--delay-down-base) / 12 * (12 - 12) * -1);
}
/* escape hydration error */

.tech-buttons button.active {
  border-color: hsl(var(--primary-theme));
  color: hsl(var(--primary-theme));
}

.tech-buttons button.active:hover {
  border-color: hsl(var(--primary-theme));
  color: hsl(var(--primary-theme));
}

.tech-buttons button:hover {
  border-color: rgb(145, 145, 145);
  color: rgb(145, 145, 145);
}

.mono img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@keyframes flipIn {
  from {
    opacity: 0;
    transform: perspective(1000px) translate(-75px) rotateY(90deg);
  }
  to {
    opacity: 1;
    transform: perspective(1000px) translate(0) rotateY(0deg);
  }
}

.tech-image {
  animation-name: flipIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
  backface-visibility: hidden;
}

.select-container:focus-within i {
  transform: rotate(180deg);
}

/* Optional base state for hidden elements */
.hidden-left {
  opacity: 0;
  transform: translateX(-24px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.hidden-right {
  opacity: 0;
  transform: translateX(24px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

/* Animation class to trigger */
.animate-side {
  opacity: 1;
  transform: translateX(0);
}

.hidden-up,
.tech-up {
  opacity: 0;
  transform: translateY(24px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}
.hidden-down,
.tech-down {
  opacity: 0;
  transform: translateY(-24px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.animate-up {
  opacity: 1;
  transform: translateY(0);
}

.hidden-pop {
  opacity: 0;
  transform: scale(0.8);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.animate-pop {
  opacity: 1;
  transform: scale(1);
}

.hidden-left-up {
  opacity: 0;
  transform: translate(-24px, 24px); /* left and down */
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.animate-left-up {
  opacity: 1;
  transform: translate(0, 0); /* reset position */
}

#desc-info span {
  opacity: 0;
  animation: slideIn 0.3s ease-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(24px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
